
.outline-0{
    outline: none !important;
}
.serachField{
    border: 0px;
    outline: none !important;
    border-bottom:2px solid black;
    font-family: 'FontAwesome';
}
.button{
    border:none;
    background-color: white;
}
.light-text{
    color:#7c7676 !important;
}
.shadow-bottom{
    box-shadow: 0 8px 6px -6px black;
}
.shadow-top{
    box-shadow: 0 -8px 6px -6px black;
}
.semi-bold-text{
    font-weight:500;
}
.post-img{
    background-image: url('./logo.jfif');
    height: 200px;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}